<footer>
  <div class="container">
    <!-- LOGO & TEXT -->
    <div class="business section">
      <h4>Starter Kit/Logo</h4>
      <p>Either have text or a logo above, put some additional text here if you so desire</p>
    </div>

    <div class="information">
      <!-- SITEMAP -->
      <div class="section">
        <h4>Sitemap</h4>
        <nav aria-label="secondary navigation">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>

      <!-- SERVICES -->
      <div class="section">
        <h4>Services</h4>
        <ul>
          <li><a href="">Service 1</a></li>
          <li><a href="">Service 2</a></li>
          <li><a href="">Service 3</a></li>
          <li><a href="">Service 4</a></li>
        </ul>
      </div>

      <!-- CONTACT -->
      <div class="section">
        <h4>Contact</h4>
        <ul>
          <li>
            <h5>Address</h5>
            <p>First Address Line</p>
            <p>City, County, Postcode</p>
          </li>
          <li>
            <h5>Telephone</h5>
            <p>01264 123456</p>
          </li>
          <li>
            <h5>Email</h5>
            <p>smallbusiness@gmail.com</p>
          </li>
          <li class="socials">
            <h5>Follow Us</h5>
            <div class="icons">
              <img src="./assets/svg/facebook.svg" alt="Facebook" />
              <img src="./assets/svg/twitter.svg" alt="Twitter" />
              <img src="./assets/svg/instagram.svg" alt="Instagram" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- CREDIT -->
  <div class="credit">
    <p>Designed and custom coded by Ethan Hawes</p>
  </div>
</footer>
