<div id="backdrop"></div>
<header>
  <div id="logo" class="logo">
    <p>Starter Kit</p>
  </div>

  <!-- NAVIGATION -->
  <nav aria-label="primary navigation">
    <div id="hamburger" class="mobile-nav-button">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul>
      <li><a class="{{ 'active' if '' == page.fileSlug }}" href="/">Home</a></li>
      <li><a class="{{ 'active' if 'about' == page.fileSlug }}" href="/about">About</a></li>
      <li>
        <a class="{{ 'active' if 'services' == page.fileSlug }}" href="/services">Services</a>
      </li>
      <li>
        <a class="{{ 'active' if 'testimonials' == page.fileSlug }}" href="/testimonials"
          >Testimonials</a
        >
      </li>
      <li><a class="{{ 'active' if 'contact' == page.fileSlug }}" href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
