<div id="backdrop"></div>
<header>
  <div id="logo" class="logo">
    <p>Starter Kit</p>
  </div>

  <!-- NAVIGATION -->
  <nav aria-label="primary navigation">
    <div id="hamburger" class="mobile-nav-button">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Services</a></li>
      <li><a href="">Testimonials</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>
</header>
