* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}
