// colours
$clr-black-900: black;
$clr-black-100: white;

// mobiles sizes
$fs-h1: 3.5rem;
$fs-h2: 3rem;
$fs-h3: 2.5rem;
$fs-h4: 2rem;
$fs-h5: 1.5rem;
$fs-h6: 1.25rem;
$fs-p: 1rem;

// animations
$nav-animation-duration: 0.6s;

// breakpoints
$bp-phone: 568px;
$bp-tablet: 768px;
$bp-small-desktop: 1024px;
$bp-desktop: 1300px;
