@use '../utilities' as *;
@use '../base/' as *;

header {
  // adjust these based on what type of header you need
  background: grey;
  position: sticky; // or fixed
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  color: $clr-black-100;
  width: 100%;
  z-index: 2;
  transition: calc($nav-animation-duration / 2);

  ul {
    visibility: hidden;
    z-index: 2;
    position: absolute;
    top: 0;
    right: -120%;
    background: $clr-black-900;
    padding: 5rem 1rem;
    padding-bottom: 0;
    height: 100vh;
    width: 60%;
    transition: $nav-animation-duration;
  }

  li {
    @extend %h5;
    text-align: right;
    margin: 1rem 0;
  }

  a {
    color: $clr-black-100;
    text-decoration: none;
  }

  // on scroll, change background
  &.scrolled {
    background: $clr-black-900;
  }

  // when open, dim the logo and show the menu
  &.open {
    .logo {
      opacity: 0.5;
    }

    ul {
      visibility: initial;
      right: 0;
    }
  }

  // change from side open to normal header
  @media only screen and (min-width: $bp-small-desktop) {
    padding: 0.5rem 1.5rem;

    ul {
      visibility: visible;
      position: static;
      display: flex;
      align-items: center;
      gap: 3rem;
      right: 0;
      height: fit-content;
      width: fit-content;
      background: transparent;
      padding: 0;
      transition: none;

      li {
        font-size: $fs-h6;
      }
    }
  }
}

// mobile navigaton hamburger button
// a CSS-only modification of https://codepen.io/designcouch/pen/ExvwPY. thank you Jesse :)
.mobile-nav-button {
  width: 2.25rem;
  height: 1.8rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: $nav-animation-duration ease-in-out;
  -moz-transition: $nav-animation-duration ease-in-out;
  -o-transition: $nav-animation-duration ease-in-out;
  transition: $nav-animation-duration ease-in-out;
  cursor: pointer;
  z-index: 3;

  span {
    display: block;
    position: absolute;
    height: 0.3rem;
    width: 100%;
    background: $clr-black-100;
    border-radius: 0.75rem;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: $nav-animation-duration/2 ease-in-out;
    -moz-transition: $nav-animation-duration/2 ease-in-out;
    -o-transition: $nav-animation-duration/2 ease-in-out;
    transition: $nav-animation-duration/2 ease-in-out;
  }

  span:nth-child(1) {
    top: 0;
  }

  span:nth-child(2),
  span:nth-child(3) {
    top: 0.75rem;
  }

  span:nth-child(4) {
    top: 1.5rem;
  }

  .open & {
    span {
      background: $clr-black-100;
    }

    span:nth-child(1) {
      top: 0.75rem;
      width: 0%;
      left: 50%;
    }

    span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    span:nth-child(4) {
      top: 0.75rem;
      width: 0%;
      left: 50%;
    }
  }

  @media only screen and (min-width: $bp-small-desktop) {
    display: none;
  }
}

#backdrop {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 1;
  transition: $nav-animation-duration;
}
