@use '../utilities' as *;
@use '../base/' as *;

/*-- -------------------------- -->
<---    Shared Header Styles    -->
<--- -------------------------- -*/
@media only screen and (min-width: 0em) {
  header {
    font-family: 'Roboto', 'Arial', sans-serif;
    z-index: 2;

    nav a.active,
    nav a:hover {
      // for specificity
      color: $primary;
    }

    a {
      transition: all 0.3s ease;
    }
  }
  #dark-mode-toggle {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(60 / 16) * 1rem;
    width: calc(48 / 16) * 1rem;
    height: calc(48 / 16) * 1rem;
    background: transparent;
    border: none;
    overflow: hidden;
    padding: 0;
    cursor: pointer;

    img,
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(25 / 16) * 1rem;
      height: calc(25 / 16) * 1rem;
      pointer-events: none;
    }

    .moon {
      transition: transform 0.3s, opacity 0.3s, fill 0.3s;
      fill: #000; // --> change the color of the moon graphic based on the background being lighter or darker
    }

    .sun {
      transform: translate(-50%, 100%);
      opacity: 0;
      transition: transform 0.3s, opacity 0.3s;
    }
  }

  body.dark-mode {
    #dark-mode-toggle {
      .sun {
        transform: translate(-50%, -50%);
        opacity: 1;
      }

      .moon {
        transform: translate(-50%, -150%);
        opacity: 0;
      }
    }
  }
}

/*-- -------------------------- -->
<---        Mobile Header       -->
<--- -------------------------- -*/
@media only screen and (max-width: 64em) {
  header {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .container {
      padding: calc(13 / 16) * 1rem;
    }

    .logo {
      display: inline-block;
      height: 100%;
      width: auto;

      img {
        width: auto;
        height: 100%;
      }
    }

    nav {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 0;
      padding-top: 0;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background-color: #fff;
      z-index: 3;
      transition: width 0.3s;

      ul {
        display: flex;
        flex-direction: column;
        gap: calc(36 / 16) * 1rem;
        height: 100%;
        padding-top: calc(96 / 16) * 1rem;
        padding-bottom: calc(32 / 16) * 1rem;
        padding-right: calc(24 / 16) * 1rem;
        overflow-y: scroll;
      }

      li {
        opacity: 0;
        text-align: right;
        transform-style: preserve-3d;
        transform: translateY(-7/16em) rotateX(00deg);
        transition: opacity 0.5s, transform 0.5s;

        &:nth-of-type(1) {
          transition-delay: 0.1s;
        }
        &:nth-of-type(2) {
          transition-delay: 0.2s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.3s;
        }
        &:nth-of-type(4) {
          transition-delay: 0.4s;
        }
        &:nth-of-type(5) {
          transition-delay: 0.5s;
        }
      }
    }

    #hamburger {
      position: absolute;
      top: 50%;
      right: 0.5rem;
      display: block;
      border: none;
      padding: 0;
      height: calc(48 / 16) * 1rem;
      width: calc(48 / 16) * 1rem;
      background: transparent;
      transform: translateY(-50%);
      transition: top 0.3s;
      z-index: 4;
      cursor: pointer;

      span {
        position: absolute;
        display: block;
        left: 50%;
        height: 2px;
        width: calc(24 / 16) * 1rem;
        background-color: #000;
        transform: translateX(-50%);
        transition: background-color 0.3s;

        &:before,
        &:after {
          content: '';
          position: absolute;
          display: block;
          left: 0;
          height: 2px;
          width: 100%;
          background: #000;
          opacity: 1;
        }

        &:before {
          top: -6px;
          transition: width 0.3s, left 0.3s, top 0.3s, transform 0.5s;
        }

        &:after {
          top: 6px;
          transition: width 0.3s, left 0.3s, top 0.3s, transform 0.3s;
        }
      }
    }

    &.open {
      #hamburger {
        span {
          // the only time I will use !important - stops flickering of hamburger when switch dark/light mode
          background-color: transparent !important;
          &:before,
          &:after {
            top: 50%;
            left: 50%;
            width: 100%;
          }

          &:before {
            transform: translate(-50%, -50%) rotate(225deg);
          }

          &:after {
            transform: translate(-50%, -50%) rotate(-225deg);
          }
        }
      }

      nav {
        width: calc(250 / 16) * 1rem;

        ul {
          li {
            opacity: 1;
            transform: translateY(0) rotateX(0);
          }
        }

        &:before {
          content: '';
          width: 100vw;
          height: 100vh;
          position: absolute;
          right: 100%;
          background: rgba(0, 0, 0, 0.5);
          transition: 0;
        }
      }
    }

    #backdrop {
      display: none;
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      height: 100vh;
      width: 100vw;
    }
  }
}

/*-- -------------------------- -->
<---        Tablet Header       -->
<--- -------------------------- -*/
@media only screen and (min-width: 568px) {
  header {
    .container {
      padding: 2rem;
    }

    nav ul {
      padding-top: 8rem;
    }

    #dark-mode-toggle {
      right: calc(76 / 16) * 1rem;
    }

    #hamburger {
      right: calc(8 / 16) * 1rem;

      span,
      span:before,
      span:after {
        height: 2px;
        width: calc(28 / 16) * 1rem;
      }

      span:before {
        top: -8px;
      }
      span:after {
        top: 8px;
      }
    }
  }
}

/*-- -------------------------- -->
<---       Desktop Header       -->
<--- -------------------------- -*/
@media only screen and (min-width: 64rem) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    height: calc(112 / 16) * 1rem;
    padding: 0;
    transition: 0.3s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .background-color-div {
      height: 100%;
      box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    }

    .container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      max-width: 75rem;
      margin: 0 auto;
      padding: calc(32 / 16) * 1rem;
    }

    .logo {
      display: inline-block;
      width: auto;
      height: 100%;
      margin-right: auto;

      img {
        width: auto;
        height: 100%;
      }
    }

    nav {
      ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
      }

      li {
        margin-left: calc(30 / 16) * 1rem;
        padding-top: 0.1875em;
        list-style: none;
      }

      a {
        position: relative;
        font-size: $fs-p;
        color: $neutralDark;
        transition: all 0.3s ease;
      }
    }

    #dark-mode-toggle {
      position: relative;
      top: auto;
      right: auto;
      transform: none;
      margin-left: 1.875em;
      margin-bottom: 0em;
    }

    #hamburger {
      display: none;
    }
  }
}
