@use '../utilities' as *;
@use '../base/' as *;

// header {
//   // adjust these based on what type of header you need
//   background: grey;
//   position: sticky; // or fixed
//   top: 0;

//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 1.5rem;
//   color: $clr-black-100;
//   width: 100%;
//   z-index: 2;
//   transition: calc($nav-animation-duration / 2);

//   ul {
//     visibility: hidden;
//     z-index: 2;
//     position: absolute;
//     top: 0;
//     right: -120%;
//     background: $clr-black-900;
//     padding: 5rem 1rem;
//     padding-bottom: 0;
//     height: 100vh;
//     width: 60%;
//     transition: $nav-animation-duration;
//   }

//   li {
//     @extend %h5;
//     text-align: right;
//     margin: 1rem 0;
//   }

//   a {
//     color: $clr-black-100;
//     text-decoration: none;
//   }

//   // on scroll, change background
//   &.scrolled {
//     background: $clr-black-900;
//   }

//   // when open, dim the logo and show the menu
//   &.open {
//     .logo {
//       opacity: 0.5;
//     }

//     ul {
//       visibility: initial;
//       right: 0;
//     }
//   }

//   // change from side open to normal header
//   @media only screen and (min-width: $bp-small-desktop) {
//     padding: 0.5rem 1.5rem;

//     ul {
//       visibility: visible;
//       position: static;
//       display: flex;
//       align-items: center;
//       gap: 3rem;
//       right: 0;
//       height: fit-content;
//       width: fit-content;
//       background: transparent;
//       padding: 0;
//       transition: none;

//       li {
//         font-size: $fs-h6;
//       }
//     }
//   }
// }

// mobile navigaton hamburger button
// a CSS-only modification of https://codepen.io/designcouch/pen/ExvwPY. thank you Jesse :)
// .mobile-nav-button {
//   width: 2.25rem;
//   height: 1.8rem;
//   position: relative;
//   -webkit-transform: rotate(0deg);
//   -moz-transform: rotate(0deg);
//   -o-transform: rotate(0deg);
//   transform: rotate(0deg);
//   -webkit-transition: $nav-animation-duration ease-in-out;
//   -moz-transition: $nav-animation-duration ease-in-out;
//   -o-transition: $nav-animation-duration ease-in-out;
//   transition: $nav-animation-duration ease-in-out;
//   cursor: pointer;
//   z-index: 3;

//   span {
//     display: block;
//     position: absolute;
//     height: 0.3rem;
//     width: 100%;
//     background: $clr-black-100;
//     border-radius: 0.75rem;
//     opacity: 1;
//     left: 0;
//     -webkit-transform: rotate(0deg);
//     -moz-transform: rotate(0deg);
//     -o-transform: rotate(0deg);
//     transform: rotate(0deg);
//     -webkit-transition: calc($nav-animation-duration/2) ease-in-out;
//     -moz-transition: calc($nav-animation-duration/2) ease-in-out;
//     -o-transition: calc($nav-animation-duration/2) ease-in-out;
//     transition: calc($nav-animation-duration/2) ease-in-out;
//   }

//   span:nth-child(1) {
//     top: 0;
//   }

//   span:nth-child(2),
//   span:nth-child(3) {
//     top: 0.75rem;
//   }

//   span:nth-child(4) {
//     top: 1.5rem;
//   }

//   .open & {
//     span {
//       background: $clr-black-100;
//     }

//     span:nth-child(1) {
//       top: 0.75rem;
//       width: 0%;
//       left: 50%;
//     }

//     span:nth-child(2) {
//       -webkit-transform: rotate(45deg);
//       -moz-transform: rotate(45deg);
//       -o-transform: rotate(45deg);
//       transform: rotate(45deg);
//     }

//     span:nth-child(3) {
//       -webkit-transform: rotate(-45deg);
//       -moz-transform: rotate(-45deg);
//       -o-transform: rotate(-45deg);
//       transform: rotate(-45deg);
//     }

//     span:nth-child(4) {
//       top: 0.75rem;
//       width: 0%;
//       left: 50%;
//     }
//   }

//   @media only screen and (min-width: $bp-small-desktop) {
//     display: none;
//   }
// }

// #backdrop {
//   display: none;
//   position: fixed;
//   background: rgba(0, 0, 0, 0.5);
//   width: 100%;
//   height: 100vh;
//   z-index: 1;
//   transition: $nav-animation-duration;
// }

@media only screen and (min-width: 0rem) {
  header {
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    position: sticky;
    top: 0;
    width: 100%;
    height: auto;

    .container {
      padding: calc(13 / 16) * 1rem;
    }

    .logo {
      display: inline-block;
      height: calc(30 / 16) * 1rem;
      width: auto;

      svg {
        width: auto;
        height: 100%;
      }
    }

    nav {
      position: fixed;
      top: 0;
      right: 0;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background-color: #fff;
      height: 100%;
      z-index: 10;

      padding-top: 0;
      width: 0;
      transition: width 0.3s;

      ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: calc(76 / 16) * 1rem;
        padding-right: calc(24 / 16) * 1rem;
        gap: calc(36 / 16) * 1rem;
      }

      li {
        text-align: right;
        transform-style: preserve-3d;
        opacity: 0;
        transform: translateY(-7/16em) rotateX(00deg);
        transition: opacity 0.5s, transform 0.5s;

        &:nth-of-type(1) {
          transition-delay: 0.1s;
        }
        &:nth-of-type(2) {
          transition-delay: 0.2s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.3s;
        }
        &:nth-of-type(4) {
          transition-delay: 0.4s;
        }
        &:nth-of-type(5) {
          transition-delay: 0.5s;
        }
      }
    }

    #hamburger {
      position: absolute;
      right: 0;
      border: none;
      height: calc(48 / 16) * 1rem;
      width: calc(48 / 16) * 1rem;
      z-index: 100;
      display: block;
      background: transparent;
      padding: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: top 0.3s;
      cursor: pointer;

      span {
        height: 2px;
        width: calc(24 / 16) * 1rem;
        background-color: #000;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        //transition properties
        transition: background-color 0.3s;

        &:before,
        &:after {
          content: '';
          position: absolute;
          display: block;
          height: 2px;
          width: 100%;
          left: 0;
          background: #000;
          opacity: 1;
        }

        &:before {
          top: -6px;
          transition: width 0.3s, left 0.3s, top 0.3s, transform 0.5s;
        }

        &:after {
          top: 6px;
          transition: width 0.3s, left 0.3s, top 0.3s, transform 0.3s;
        }
      }
    }

    #dark-mode-toggle {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: calc(60 / 16) * 1rem;
      width: calc(48 / 16) * 1rem;
      height: calc(48 / 16) * 1rem;
      background: transparent;
      border: none;
      overflow: hidden;
      padding: 0;
      cursor: pointer;

      //center image inside button
      img,
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(25 / 16) * 1rem;
        height: calc(25 / 16) * 1rem;
        pointer-events: none;
      }

      .moon {
        z-index: 5;
        // Transition properties
        transition: transform 0.3s, opacity 0.3s, fill 0.3s;
        fill: #000; // --> change the color of the moon graphic based ont he background being lighter or darker
      }

      .sun {
        z-index: 4;
        // Transition property
        transform: translate(-50%, 100%);
        opacity: 0;
        transition: transform 0.3s, opacity 0.3s;
      }
    }

    &.open {
      #hamburger {
        span {
          background-color: transparent;
          &:before,
          &:after {
            width: 100%;
            left: 50%;
            top: 50%;
          }

          &:before {
            transform: translate(-50%, -50%) rotate(225deg);
          }

          &:after {
            transform: translate(-50%, -50%) rotate(-225deg);
          }
        }
      }

      nav {
        width: calc(250 / 16) * 1rem;

        ul {
          li {
            opacity: 1;
            transform: translateY(0) rotateX(0);
          }
        }

        &:before {
          content: '';
          width: 100vw;
          height: 100vh;
          position: absolute;
          right: 100%;
          background: rgba(0, 0, 0, 0.5);
          transition: 0;
        }
      }
    }

    #backdrop {
      display: none;
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      height: 100vh;
      width: 100vw;
    }
  }
}
